div
  a(href="/play?url=" + song.songUrl) play
  |
  a(href=song.songUrl)=song.songName
  |
  a(href=song.artistUrl)=song.artistName
  |
  a(href=song.albumUrl)=song.albumName
  |
  //img(src=  song.thumbnail)